// Main Color Set
$bgColor: #fffffe;
$headlineColor: #272343;
$subHeadlineColor: #e3f6f5;
$paragraphColor: #2d334a;
$linksColor: #ffd803;
$hoverColor: #ffd803;
$btnBgColor: #ffd803;
$btnTextColor: #272343;

// Sub Color Set
$cardBg: #272343;
$cardHeadline: #fffffe;
$cardParagraph: #2e2f3e;
$cardTagBg: #ffd803;
$cardTagText: #272343;
$cardHightlight: #e3f6f5;
$cardBtnBg: #e3f6f5;
$cardBtnText: #272343;
