@import "./themes";
@import "./fonts";
@import "./mixins";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
  font-family: $mainFont;
  color: $headlineColor;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: $headlineColor;
  @include bgStyle;
}
