@import "../../styles/mixins";
@import "../../styles/themes";

.social-container {
  @include flexCenter;
  width: 100%;
  margin: 30px auto;

  .social-btn {
    margin: 0px 20px;
    color: $paragraphColor;
    font-size: 1.25rem;

    &:hover {
      color: $hoverColor;
    }
  }
}
