@import "../../styles/themes";

.custom-btn-container {
  width: auto;
  height: auto;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: $btnBgColor;
  padding: 10px 15px;
  cursor: pointer;
  color: $btnTextColor;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  &:hover {
    background-color: $btnTextColor;
    color: $btnBgColor;
    border: 2px solid $btnBgColor;
  }

  &.hero {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 2px;
  }
}
