@import "../../styles/mixins";
@import "../../styles/themes";

.footer-container {
  width: 100%;
  margin: 30px auto 20px;

  .social-container {
    margin: 10px auto;
  }

  .footer-text {
    @include flexCenter;
    color: $paragraphColor;

    span {
      @include paragraphStyles;
      font-size: 0.8rem;

      a {
        margin: auto 0.3rem;
        @include paragraphStyles;
        font-size: 0.8rem;

        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}
